<div id="main">
  <div class="app-tree-directory-container">
    <h1>TP Tauri Editor</h1>
    <ng-container *ngFor="let file of treeFilesProject">
    <span class="name" (click)="click(file)">
      <span class="icon" class="material-icons">
        <ng-container *ngIf="file.children; else ok">folder</ng-container>
        <ng-template #ok> <span (click)="open(file)">article</span></ng-template>
      </span>{{file.name}}</span>
    </ng-container>
    <ng-container *ngIf="bool > 0">
      <span class="button" (click)="retour()">retour</span>
    </ng-container>
  </div>
  <div class="textAera">
    <textarea [(ngModel)]='fileValue' row="100" cols="2000"></textarea>
  </div>
</div>

